@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400|Source+Code+Pro|Tomorrow:300,400&display=swap');

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Tomorrow', 'Noto Sans JP', sans-serif;
    min-height: 100%;
}

.center {
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

a,
a:focus,
a:hover {
  color: #fff;
}

main {
    font-weight: lighter;
}

img {
    max-width: 100%;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    overflow: hidden;
    line-height: 40px;
}
